<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dine-Simply{% endblock %}</title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-MoP1ncUQSPYzyRte3mvn0V1zH1oB/lf/KevHYhe9c/N+X3qwZVScIgqVj0M2oVEi" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
            {% if current_user.is_authenticated %}
                {% include 'navbar_customer.html' %}
            {% endif %}
    </header>
    <main class="container mt-4">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-light text-center py-3 mt-4">
        <p>&copy; 2024 Restaurant App</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script 
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-LtrjvnR4/JqsA9zUf3X4KNRyI9v5CkGsF7DR5IMB7Y5Vp5iW8w5NJRQ75FLdPnnF" 
        crossorigin="anonymous"></script>
</body>
</html>
