<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dine-Simply</title>
    <!-- Include Bootstrap CSS for styling (optional) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar_simple.html' %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
</body>
</html>
