<!-- templates/orders_overall.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <!-- Include Bootstrap CSS for styling (optional) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar_customer.html' %}
    <div class="card">
        <div class="card-header bg-warning text-white">
            <h2>Your Orders</h2>
        </div>
        <div class="card-body">
            {% if orders %}
                <div class="list-group">
                    {% for order in orders %}
                        <div class="list-group-item">
                            <p>Order Date: {{ order['OrderDate']|format_datetime }}</p>
                            <p>Total: ${{ "%.2f"|format(order['OrderTotal']) }}</p>
                            <p>Delivery Address: {{ order['DeliveryAddress'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No orders found.</p>
            {% endif %}
            <!-- <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to Home</a> -->
        </div>
    </div>
</body>
</html>
